<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
<link rel="icon" href="/img/admin.jpg" />
    <link rel="stylesheet" href=".input.css" />
    <link rel="stylesheet" href=".output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body class="bg-gray-100  mt-24">
      

    <%- include("partials/sideBar" ) %>
    <%- include("partials/viewData") %>
</body>
</html>







<!-- ///////// import ////////  -->
<!-- 
    <dialog id="اى_حاجه" class="bg-amber-300 p-5 w-[300px] h-[15px]">             <p>ojkjk</p>
        <button onclick="اى_حاجه.close()">اغلق</button>
    </dialog>
    <button onclick="اى_حاجه.showModal()"> افتح</button> 
-->
